body {
    background-color: ivory;
}
#canvas {
    border: 1px solid red;
     background-image: url("https://matrixfrats.com/download_api/download/upload/932581053123.png");
    background-color: #FFFFFF;
    background-position: center;
    background-size: 100% 100%;
}